*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2e0e0e, #2f0a0a);
}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 10px 3px 15px rgba(160, 188, 245, 0.5);
}

input {
    width: 320;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 10px 3px 15px rgba(237, 133, 133, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
} 
